services:
  - type: web
    name: medintel-frontend
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
      - key: API_URL
        value: https://medintel-backend.onrender.com
